{% extends "menu/base.html" %}
{% load static %}
{% block title %}صفحه اصلی{% endblock %}

{% block content %}
<!--    main section start -->
<main class="flex flex-wrap pb-20">
  {% for parent in parent_categories %}
    {% for sub in parent.children.all %}
    <div class="w-full lg:w-1/3 p-4">
            <a href="{% url 'menuitem-list' parent.slug sub.slug %}">
              {% if sub.image %}
              <img src="{{ sub.image.url }}" alt="{{ sub.title }}" class="w-full">
              {% endif %}
            </a>
    </div>
    {% endfor %}
  {% endfor %}
</main>
<!--    main section end -->

{% comment %} <main class="flex flex-wrap pb-20 justify-center">
  {% for parent in parent_categories %}
    {% for sub in parent.children.all %}
      <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
        <a href="{% url 'menuitem-list' parent.slug sub.slug %}">
          <img src="{{ sub.image.url }}" alt="{{ sub.title }}" class="w-full rounded shadow hover:shadow-lg transition">
        </a>
      </div>
    {% endfor %}
  {% endfor %}
</main> {% endcomment %}
{% endblock %}

