{% extends "menu/base.html" %}
{% load static %}
{% block title %}صفحه اصلی{% endblock %}

{% block content %}
<div class="container mx-auto py-10">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for parent in parent_categories %}
      {% for sub in parent.children.all %}
        <a href="{% url 'menuitem-list' parent.slug sub.slug %}" class="group block relative overflow-hidden rounded shadow-md">
          
            <img src="{{ sub.image.url }}" alt="{{ sub.title }}" class="w-full h-[300px] object-cover transition duration-300 group-hover:scale-105">
          
        </a>
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock %}
