{% extends "menu/base.html" %}
{% block title %}{{ category.title }}{% endblock %}

{% block content %}

<div class="max-w-screen-md mx-auto grid grid-cols-1 gap-6">
  {% for item in items %}
  <div class="bg-white border rounded shadow-sm overflow-hidden transition hover:shadow-md">
    {% if item.image %}
    <img src="{{ item.image.url }}" alt="{{ item.title }}" class="w-auto h-auto object-cover">
    {% endif %}
    <div class="p-4 text-center">
      <h2 class="text-lg font-semibold mb-1">{{ item.title }}</h2>
      {% if item.description %}
      <p class="text-sm text-gray-600 mb-2">{{ item.description }}</p>
      {% endif %}
      {% if item.price %}
      <div class="text-green-700 font-bold text-base">{{ item.price }} تومان</div>
      {% else %}
      <div class="text-gray-500 text-sm">قیمت روز</div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
