{% extends "menu/base.html" %}
{% load static %}
{% block title %}{{ category.title }}{% endblock %}

{% block content %}

<div class="max-w-screen-md mx-auto">
  {% for item in items %}
    <div class="mt-16 mb-32 text-center">
      {% if item.image and item.image.url %}
        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="w-full">
      {% else %}
        <img src="{% static 'menu/images/default-image.jpg' %}" alt="no image" class="w-full">
      {% endif %}
      <h3 class="font-bold text-2xl mt-2">{{ item.title }}</h3>
      <p class="text-sm mt-2">{{ item.description }}</p>
      {% if item.price %}
        <div class="text-secondary font-semibold mt-5">{{ item.price }} تومان</div>
      {% endif %}
    </div>
  {% endfor %}   
</div>
{% endblock %}
